.fill{
  min-height: 100vh;
  overflow-y:scroll;
}

.full-width {
  width: 100%;
  display: inline;
  float: left;
}

.half-width {
  width: 46%;
  display: inline;
  float: left;
  margin-right: 4%;
}

@media screen and (max-width: 768px) {
  .half-width {
    width: 100%;
    display: inline;
    float: left;
  }
}

.modal-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.modal-image-container{
    margin-top:8px;
    height: 50px;
    text-align: center;
}

p.modal-content {
  border: 1px solid white;
  text-align: left;
  color: #888888;
  padding: 20px;
}

.modal-button-container{
    position: absolute;
    bottom: 0px;
    width:100%;
    height:50px;
}

.modal-title {
  font-size: 2.5em;
  color: #373a3c;
  padding: 16px;
}

.modal-image {
  height: 100%;
}

.btn-modal.btn-custom-blue {
  background-color: #17a15f;
  border-color: #17a15f;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

.btn-modal.btn-custom-blue:hover{
  opacity: 0.75;
}

.spacer {
  height: 32px;
}

.sub-container-login{
  background:linear-gradient(
    0deg
    ,rgba(230,182,76,0.85)
    ,rgba(230,182,76,0.85))
    ,url('/resources/login_background.png');

  background-size: 100% auto;
  background-position: center;

  text-align: center;
  border-radius: 16px;
  overflow: hidden;

  min-height: 100%;
  height: 100%;
}

.sub-container-quiz {
  text-align: center;
  overflow: hidden;

  min-height: 100%;
  height: 100%;
}

.sub-container-spacer {
  margin-bottom: 20px;
  text-align: center;
  font-size: 4em;
  font-family: 'Times New Roman';
  color: #888888;
}

.sub-container-btn {
  margin-bottom: 32px;
  text-align: center;
}

.form-title {
  color: #FFFFFF;
  font-size: 4.5em;
  font-weight: 500;

  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group {
  text-align: left;

  margin-left: 15%;
  margin-right: 15%;
}

.form-button {
  margin: 20px 20px 20px 0px;
}

.text-help {
  font-size: 0.8em;
  color: red;
}

.header {
  border-radius: 8px;
  background-color: #ffce42;
  font-size: 2em;
  color: #FFFFFF;
  padding: 8px;
  margin-top: 16px;
}

.body {
  padding-left:20px;
  padding-right: 20px;
}

.title {
  font-size: 3em;
  font-family: 'Helvetica';
  text-align: left;
  margin: 20px 0px 20px 8px;
}

.content {
  font-size: 1.1em;
  font-family: 'Helvetica';
  font-weight: 300;

  text-align: left;
  margin: 20px 8px 20px 8px;
  color: #888888;
}

.question-title {
  font-size: 1.25em;
  font-family: 'Helvetica';
  font-weight: 300;

  text-align: left;
  margin: 20px 8px 20px 8px;
  color: #4a4a4a;
}

.question-choices {
  font-size: 1em;
  font-family: 'Helvetica';
  font-weight: 300;

  text-align: left;
  margin: 20px 8px 20px 8px;
  color: #888888;
}

.question-choice {
  margin-top:4px;
}

.container-quiz-item {
  border: 2px dotted #4c8bf5;
  border-radius: 8px;
  color: #373a3c;
  padding: 20px;
}

.container-quiz-item:hover {
  cursor:pointer;
  border: 2px dotted #4b8bf5;
  border-radius: 8px;
  background-color: #A9C4E3;
  color: #FFFFFF;
  padding: 20px;
}

.quiz-item-stats {
  display: inline;
}

@media screen and (max-width: 768px) {
  .quiz-item-stats {
    width: 100%;
    display: block;
    height:50px;
    padding-top:16px;
  }
}

.label-title {
  display: inline;
  min-width: 256px;
}

@media screen and (max-width: 992px) {
  .label-title  {
    text-align: center;
    min-width: 128px;
  }
}

.label-tag {
  vertical-align: center;
  display: inline;
  float: right;
  border-radius: 8px;
  padding:8px;

  background-color: #4b8bf5;
  color: #FFFFFF;

  font-size: 0.65em;
  font-weight: 400;
  min-width: 96px;
  text-align: center;
}

.label-tag.purple {
  background-color: #9A1DF6;
}

.label-tag.red {
  background-color: #DD5044;
}

.label-tag.green {
  background-color: #0EA352;
}

@media screen and (max-width: 768px) {
  .label-tag {
    vertical-align: center;
    border-radius: 8px;
    padding:8px;

    background-color: #4b8bf5;
    color: #FFFFFF;

    font-size: 0.65em;
    font-weight: 400;
    min-width: 64px;
    text-align: center;
    float:left;
  }
}


.btn-custom {
  border-radius: 16px;
  border: 1px solid #ffce42;

  background-color:#ffce42;
  color: #FFF;

  font-size: 1em;
  font-family: 'Helvetica';
  font-weight: 500;

  padding: 8px 32px 8px 32px;
  width:25%;
  height:50px;
}

@media screen and (max-width: 768px) {
  .btn-custom {
    padding: 8px 32px 8px 32px;
    width:35%;
  }
}

.btn-custom-blue {
  border-radius: 8px;
  border: 1px solid #4b8bf5;

  background-color:#4b8bf5;
  color: #FFF;

  font-size: 1em;
  font-family: 'Helvetica';
  font-weight: 300;

  padding: 8px 32px 8px 32px;
  width:50%;
  height:50px;
}

.btn-custom-blue:hover{
  opacity: 0.75;
}

.btn-custom-blue.btn-full-width{
  width: 100%;
  background-color: #4b8bf5;
  border-color: #4b8bf5;
}

@media screen and (min-width: 1024px) {
  .btn-custom-blue.take-quiz {
    margin-top: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .btn-custom-blue {
    font-size: 0.9em;

    padding: 8px 16px 8px 16px;
    width:64%;
  }
}

@media screen and (max-width: 512px) {
  .btn-custom {
    padding: 8px 32px 8px 32px;
    width:64%;
  }
}

.btn-custom:hover {
  opacity: 0.75;
}
