.container {
  padding: 20px;
}

div.text-help {
  font-size: 0.8em;
  color: red;
}

div.spaced {
  margin: 8px;
}

input.form-control {
  border-radius: 8px;
}

button.signup {

}

button.login {
  margin-left: 16px;
}

a.btn-link, a.btn-link:hover {
  color: white;
  text-decoration: none;
}
