.container {
  padding: 20px;
}

.inline {
  display: inline-block;
}

.posts-header {
  font-family: "Helvetica";
  margin: 40px 0px 20px 0px;
}

.posts-categories {
  font-family: "Helvetica";
  margin: 20px 0px 20px 0px;
}

.form-input-label {
  font-size: 1.5em;
}

.text-help {
  color: red;
  font-size: 0.8em;
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
}
.cancel {
  margin-left: 12px;
}
